
body{
background-color: grey;
}

#heading{
color : white;
text-align: center;
background-color: #d3d3d3;
font-weight: bold;
}

#main_foo_heading{
  float: right;
  width: 90%;
  font-weight: bold;
}

#nav_foo_heading{
  float: left;
  width: 10%;
  font-weight: bold;
}

#lorum_ipsum{
  float: right;
  width: 90%;
  background-color: darkgrey;
}

#te_tings{
  color : white;
}

.not_main_heading{
  margin:0;
  padding:0;
  height: 250px;
  background-color: darkgrey;
}
#footer{
  float: footer;
  float: right;
  background-color: #63666A;
}
#footer:before{
  content:"";
  background-color:#63666A;
  position: absolute;
  height: 5%;
  width: 200vw;
  left: -100vw;
  z-index: -1;
}

}
