<!DOCTYPE html>
<!--
# Verit Li, Brian Yang, Justin Mohabir
# Team: Uh?
# SoftDev
# K12: Take and Give
# 2022-10-17
# time spent: .6
 -->

<html>

  <head>
    <title> LOGIN PAGE </title>
  </head>

  <body>
    <h1>
      Welcome, Travelers of the Intertoobz!
      <br>
      Team Uh?: Verit Li, Brian Yang, Justin Mohabir
    </h1>


    <h3>
      Enter your username below to proceed.
    </h3>
    <form action="/auth" method="post">
      <input type="text" name="username">
      <input type="submit" name="sub1">
    </form>
    <br>
  </body>

</html>
